li,
a {
    font-size: 2.5rem;
    color: #f9f7f7;
    list-style: none;
    text-decoration: none;
    border: #080808;
}

li {
    margin-right: 1rem;
    margin-bottom: 3rem;
}

li:hover {
    border-bottom: #fff solid 2px;
    font-weight: 900;
}

.infor {
    border: 3px solid #0d0d0d;
    width: 15rem;
    height: 8rem;
    border-radius: 10%;
}

.info>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}