
Section{

    width: 97%;
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 11px;
    flex-direction: column;
    border: 2px solid #101010;
    
}
img{
    width: 20rem;
    height: 20rem;
    border: 2px solid rgb(2, 2, 2);
    margin: 10px;
}
p{
    display: flex;
    justify-content:center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 25%;
}

h2{
    display: flex;
    justify-content:center;
    font-size: large;
    text-decoration: none;
    margin: 10px;
}