.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #333;
}

.social-icons a:hover {
    color: #007bff;
}